//- include 
- var datalink = "http://data.baltimoresun.com/jin/preakness-contenders/"
- var datalink = ""
//- Creates variable called content -- an array of objects with each contender information
include includes/content.jade

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Preakness 2016 Contenders
		meta(name="description", content="Prep for this year's Preakness Stakes with this handy breakdown of the contenders.")
		meta(name="author", content="Jin Bae Kim")
		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//Facebook Stuff
		meta(property="og:title", content="Preakness 2016 Contenders")
		meta(property="og:url", content="#{datalink}")
		meta(property="og:image", content="#{datalink}images/thumb.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="Prep for this year's Preakness Stakes with this handy breakdown of the contenders")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="Preakness 2016 Contenders")
		meta(name="twitter:description", content="Prep for this year's Preakness Stakes with this handy breakdown of the contenders")
		meta(name="twitter:image", content="#{datalink}images/thumb.png")
		meta(name="twitter:domain", content="baltimoresun.com")
	body
		#tophat
			.group
			#logo
				a(href="http://www.baltimoresun.com")
					img(src="images/baltimore-sun-logo-white.png" border="0")
			.nav.hidden
				.navBlock.navBlock--0.selected(data-pos="0") Horse
				.navBlock.navBlock--1(data-pos="1") Odds
				.navBlock.navBlock--2(data-pos="2") Jockey
				.navBlock.navBlock--3(data-pos="3") Trainer
				.navBlock.navBlock--4(data-pos="4") Owner
				.navBlock.navBlock--5(data-pos="5") Breeder
				.navBlock.navBlock--6(data-pos="6") Earnings
				.navBlock.navBlock--7(data-pos="7") Notes
				.navBlock.navBlock--8(data-pos="8") Prev Start
			.tophat-share-tools
				span.icon-facebook
				span.icon-twitter
		.splash
			.headline
				h1 Preakness 2016
				p Contender Profiles
			.startButton
				p Start
					span.fa.fa-angle-right
			.borderTrick
		.namePlate#sticky
			span.fa.fa-angle-left
			span.fa.fa-angle-right
		#contenders
			#scroller
				//- Create 72 li elements. 
				ul
					- for (var i=0;i<72;i++) {
						//- For every 8 elements, we create something different.
						//- This is the first slide for each horse, featuring a near-fullscreen image
						- if (i<8) {
							li(class="cell cell__name cell__name--#{i}")
								.rank 
								.rankText PP: #{i+1}
								.namePlateText.namePlateText--center
									//- The nameplate.jade file simply assigns h2 name tags for each horse. It is used for every slide.
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.detailsPlate.arrow--down
									p Details
									span.fa.fa-angle-down
						- } else if (i < 16) {
							li(class="cell cell__odds")
								.namePlateText.namePlateText--top
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.centerAlign
									.contentBlock
										h3 Odds
										.textBlock
											p #{content[i%8].odds}
												br
												span #{content[i%8].oddsReturns}
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Image
								.arrow.arrow--down
									p.nextSlidePreview Jockey
									span.fa.fa-angle-down
						- } else if (i < 24) {
							li(class="cell cell__jockey")
								.namePlateText.namePlateText--top
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.centerAlign
									.contentBlock
										h3 Jockey
										- if (content[i%8].jockeyImgBool) {
											img(src="#{datalink}images/jockey#{i%8}.png")
											p #{content[i%8].jockey}
										- } else {
											.textBlock
												p #{content[i%8].jockey}
										- }
								.arrow.arrow--up
									span.fa.fa-angle-up 
									p.nextSlidePreview Odds
								.arrow.arrow--down
									p.nextSlidePreview Trainer
									span.fa.fa-angle-down
						- } else if (i < 32) {
							li(class="cell cell__trainer")
								.namePlateText.namePlateText--top
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.centerAlign
									.contentBlock
										h3 Trainer
										- if (content[i%8].trainerImgBool) {
											img(src="#{datalink}images/jockey#{i%8}.png")
											p #{content[i%8].trainer}
										- } else {
											.textBlock
												p #{content[i%8].trainer}
										- }
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Jockey
								.arrow.arrow--down
									p.nextSlidePreview Owner
									span.fa.fa-angle-down
						- } else if (i < 40) {
							li(class="cell cell__owner")
								.namePlateText.namePlateText--top
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.centerAlign
									.contentBlock
										h3 Owner
										- if (content[i%8].ownerImgBool) {
											img(src="#{datalink}images/jockey#{i%8}.png")
											p #{content[i%8].owner}
										- } else {
											.textBlock
												p #{content[i%8].owner}
										- }
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Trainer
								.arrow.arrow--down
									p.nextSlidePreview Breeder
									span.fa.fa-angle-down
						- } else if (i < 48) {
							li(class="cell cell__breeder")
								.namePlateText.namePlateText--top
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.centerAlign
									.contentBlock
										h3 Breeder
										- if (content[i%8].breederImgBool) {
											img(src="#{datalink}images/jockey#{i%8}.png")
											p #{content[i%8].breeder}
										- } else {
											.textBlock
												p #{content[i%8].breeder}
										- }
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Owner
								.arrow.arrow--down
									p.nextSlidePreview Earnings
									span.fa.fa-angle-down
						- } else if (i < 56) {
							li(class="cell cell__earnings")
								.namePlateText.namePlateText--top
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.centerAlign
									.contentBlock
										h3 Earnings
										.textBlock
											p #{content[i%8].earnings}
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Breeder
								.arrow.arrow--down
									p.nextSlidePreview Notes
									span.fa.fa-angle-down
						- } else if (i < 64) {
							li(class="cell cell__notes")
								.namePlateText.namePlateText--top
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.centerAlign
									.contentBlock
										h3 Notes
										.textBlock
											p #{content[i%8].notes1}
											p #{content[i%8].notes2}
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Earnings
								.arrow.arrow--down
									p.nextSlidePreview Previous Start
									span.fa.fa-angle-down
						- } else if (i < 72) {
							li(class="cell cell__prevStart")
								.namePlateText.namePlateText--top
									h2 #{content[i%8].horse}
								include includes/slidepos.jade
								.centerAlign
									.contentBlock
										h3 Previous Start
										.textBlock
											p #{content[i%8].prevStart}
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Notes
								.backToTop 
									p Back to top
						- }
					- }
		//- #leaderboard
		//- 	include includes/ad-for-body.html		
		//CSS
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
		//Fonts
		link(rel="stylesheet", type="text/css", href="#{datalink}css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")
		//Javascript
		//- script(src="#{datalink}js/min/modernizr.js")
		//- script(src="#{datalink}js/app.js")
		script(src="#{datalink}js/min/jquery-1.10.2.min.js")
		script(src="#{datalink}js/min/app.min.js")
		include includes/omniture.html
		//- include includes/ad-for-header.html
	