//- include 
- var datalink = "http://data.baltimoresun.com/jin/preakness-contenders/"
- var datalink = ""
//- Creates variable called content -- an array of objects with each contender information
include includes/content.jade

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="")

		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//CSS
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
		//Fonts
		link(rel="stylesheet", type="text/css", href="#{datalink}css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

	//- body(onload="preaknessContenders.scroll()")
	body
		#tophat
			.group
			#logo
				a(href="http://www.baltimoresun.com")
					img(src="images/baltimore-sun-logo-white.png" border="0")
			.tophat-share-tools
				span.icon-facebook
				span.icon-twitter
		#yPos
		.overlay.namePlate#sticky
			span.fa.fa-angle-left
			.slidePosition
				span.fa.fa-circle.fa-circle--0.posMarker
				span.fa.fa-circle.fa-circle--1
				span.fa.fa-circle.fa-circle--2
				span.fa.fa-circle.fa-circle--3
				span.fa.fa-circle.fa-circle--4
				span.fa.fa-circle.fa-circle--5
				span.fa.fa-circle.fa-circle--6
				span.fa.fa-circle.fa-circle--7
			span.fa.fa-angle-right


		#contenders
			#scroller
				//- Created 72 li elements. 
				ul
					- for (var i=0;i<72;i++) {
						//- For every 8 elements, we create something different.
						//- This is the first slide for each horse, featuring a near-fullscreen image
						- if (i<8) {
							li(class="cell cell__name cell__name--#{i}" style="background-image: url('#{datalink}images/#{i}.png');")
								.namePlateText.namePlateText--center
									//- The nameplate.jade file simply assigns h2 name tags for each horse. It is used for every slide.
									include includes/nameplate.jade
								.detailsPlate
									p Details
									span.fa.fa-angle-down
						- } else if (i < 16) {
							li(class="cell cell__jockey cell__jockey--#{i%8}")
								.namePlateText.namePlateText--top
									include includes/nameplate.jade
								.arrow.arrow--up
									span.fa.fa-angle-up
								.contentBlock
									h3 Jockey
									- if (content[i%8].jockeyImgBool) {
										img(src="#{datalink}images/jockey#{i%8}.png")
										p #{content[i%8].jockey}
									- } else {
										.textBlock
											p #{content[i%8].jockey}
									- }
								.arrow.arrow--down
									p.nextSlidePreview Odds
									span.fa.fa-angle-down
						- } else if (i < 24) {
							li(class="cell cell__odds cell__odds--#{i%8}")
								.namePlateText.namePlateText--top
									include includes/nameplate.jade
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Jockey
								.contentBlock
									h3 Odds
									.textBlock
										p #{content[i%8].odds}
											br
											span (#{content[i%8].oddsReturns})
								.arrow.arrow--down
									p.nextSlidePreview Notes
									span.fa.fa-angle-down
						- } else if (i < 32) {
							li(class="cell cell__notes cell__notes--#{i%8}")
								.namePlateText.namePlateText--top
									include includes/nameplate.jade
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Odds
								.contentBlock
									h3 Notes
									.textBlock
										p #{content[i%8].notes1}
										p #{content[i%8].notes2}
								.arrow.arrow--down
									p.nextSlidePreview Owner
									span.fa.fa-angle-down
						- } else if (i < 40) {
							li(class="cell cell__owner cell__owner--#{i%8}")
								.namePlateText.namePlateText--top
									include includes/nameplate.jade
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Notes
								.contentBlock
									h3 Owner
									- if (content[i%8].ownerImgBool) {
										img(src="#{datalink}images/jockey#{i%8}.png")
										p #{content[i%8].owner}
									- } else {
										.textBlock
											p #{content[i%8].owner}
									- }
								.arrow.arrow--down
									p.nextSlidePreview Trainer
									span.fa.fa-angle-down
						- } else if (i < 48) {
							li(class="cell cell__trainer cell__trainer--#{i%8}")
								.namePlateText.namePlateText--top
									include includes/nameplate.jade
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Owner
								.contentBlock
									h3 Trainer
									- if (content[i%8].trainerImgBool) {
										img(src="#{datalink}images/jockey#{i%8}.png")
										p #{content[i%8].trainer}
									- } else {
										.textBlock
											p #{content[i%8].trainer}
									- }
								.arrow.arrow--down
									p.nextSlidePreview Breeder
									span.fa.fa-angle-down
						- } else if (i < 56) {
							li(class="cell cell__breeder cell__breeder--#{i%8}")
								.namePlateText.namePlateText--top
									include includes/nameplate.jade
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Trainer
								.contentBlock
									h3 Breeder
									- if (content[i%8].breederImgBool) {
										img(src="#{datalink}images/jockey#{i%8}.png")
										p #{content[i%8].breeder}
									- } else {
										.textBlock
											p #{content[i%8].breeder}
									- }
								.arrow.arrow--down
									p.nextSlidePreview Earnings
									span.fa.fa-angle-down
						- } else if (i < 64) {
							li(class="cell cell__earnings cell__earnings--#{i%8}")
								.namePlateText.namePlateText--top
									include includes/nameplate.jade
								.arrow.arrow--up
									span.fa.fa-angle-up
									p.nextSlidePreview Breeder
								.contentBlock
									h3 Earnings
									.textBlock
										p #{content[i%8].earnings}
								.backToTop 
									p Back to top
						- }
					- }

		//- #leaderboard			
		//- 	include includes/ad-for-body.html
		
		//Javascript
		script(src="#{datalink}js/min/jquery-1.10.2.min.js")
		script(src="#{datalink}js/min/modernizr.js")
		script(src="#{datalink}js/app.js")
		//- script(src="#{datalink}js/min/app.min.js")

		//- include includes/omniture.html
		//- include includes/ad-for-header.html
	