- var datalink = "http://data.baltimoresun.com/sports/preakness-2016/"
//- var datalink = ""
//- Creates variable called content -- an array of objects with each contender information
include includes/content.jade
//- Determines width of table by # of cells
- var multiple = 11;

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Preakness 2016 Contenders
		meta(name="description", content="Prep for this year's Preakness Stakes with this handy breakdown of the contenders.")
		meta(name="author", content="Jin Bae Kim")
		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//Facebook Stuff
		meta(property="og:title", content="Preakness 2016 Contenders")
		meta(property="og:url", content="#{datalink}")
		meta(property="og:image", content="#{datalink}images/thumb.jpg")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="Prep for this year's Preakness Stakes with this handy breakdown of the contenders.")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="Preakness 2016 Contenders")
		meta(name="twitter:description", content="Prep for this year's Preakness Stakes with this handy breakdown of the contenders.")
		meta(name="twitter:image", content="#{datalink}images/thumb.jpg")
		meta(name="twitter:domain", content="baltimoresun.com")
	body
		#tophat
			.group
			#logo
				a(href="http://www.baltimoresun.com")
					img(src="images/baltimore-sun-logo-white.png" border="0")
			//- This hidden class is removed when the splash page disappears. It is written this way and not in  jQuery (fadeIn()) in order to accomodate for media queries.
			.nav.hidden
				.navBlock.navBlock--0.selected(data-pos="0") Horse
				.navBlock.navBlock--1(data-pos="1") Odds
				.navBlock.navBlock--2(data-pos="2") Jockey
				.navBlock.navBlock--3(data-pos="3") Trainer
				.navBlock.navBlock--4(data-pos="4") Owner
				.navBlock.navBlock--5(data-pos="5") Breeding
				.navBlock.navBlock--6(data-pos="6") Earnings
				.navBlock.navBlock--7(data-pos="7") Notes
				.navBlock.navBlock--8(data-pos="8") Previous Start
			.tophat-share-tools
				span.icon-facebook
				span.icon-twitter
		//- A splash page that disappears on .startButton click.
		.splash
			.headline
				h1 Preakness 2016
				p Contender Profiles
			.startButton
				p Start
					span.fa.fa-angle-right(data-dir="n")
			//- This is an absolute-positioned div colored yellow and placed beneath the tophat.
			.borderTrick
		//- This overlay contains the left and right arrows and the horse name. It will be present on every page except the "card" pages.
		.namePlate.stickable
			span.fa.fa-angle-left.fade(data-dir="l")
			.cAlign
				h2#horseName #{content[0].horse}
				.slidePosition
					- for (var j=0;j<multiple;j++) {
						- if (j == 0) {
							span(class="fa fa-circle fa-circle--#{j} posMarker")
						- } else {
							span(class="fa fa-circle fa-circle--#{j}")
						- }
					- }
			span.fa.fa-angle-right(data-dir="r")
		#contenders
			#scroller
				ul
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--name cell--name--#{i}")
							.rank 
							.rankText PP: #{i+1}
							//- We recreate a "nameplate" for each horse
							.namePlate
								- if (i == 0) {
									span.fa.fa-angle-left.fade(data-dir="l")
								- } else {
									span.fa.fa-angle-left(data-dir="l")
								- }
								.cAlign
									h2 #{content[i].horse}
									//- This jade file contains a div to create something like a slider position marker. This is also recreated over every cell. Inefficient, but necessary due to the nature of the iScroll library.
									include includes/slidepos.jade
								span.fa.fa-angle-right(data-dir="r")
							.detailsPlate.arrow--down
								p Details
								//- The data attribute is used in the javascript to tell which direction to scroll. Data attributes are used for cleaner javascript.
								span.fa.fa-angle-down(data-dir="d")
					- }
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--odds")
							//- Vertical align wrapper.
							.vAlign
								.contentBlock
									h3 Odds
									.textBlock.textBlock--odds
										p #{content[i].odds}
											br
											span #{content[i].oddsReturns}
							.arrow.arrow--up
								span.fa.fa-angle-up(data-dir="u")
								p.nextSlidePreview Horse
							.arrow.arrow--down
								p.nextSlidePreview Jockey
								span.fa.fa-angle-down(data-dir="d")
					- }
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--jockey")
							.vAlign
								.contentBlock
									h3 Jockey
									img(src="#{datalink}images/jockey#{content[i].file}.png")
									p #{content[i].jockey}
							.arrow.arrow--up
								span.fa.fa-angle-up(data-dir="u") 
								p.nextSlidePreview Odds
							.arrow.arrow--down
								p.nextSlidePreview Trainer
								span.fa.fa-angle-down(data-dir="d")
					- }
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--trainer")
							.vAlign
								.contentBlock
									h3 Trainer
									- if (content[i].trainerImgBool) {
										img(src="#{datalink}images/trainer#{content[i].file}.png")
										p #{content[i].trainer}
									- } else {
										.textBlock.textBlock--trainer
											p #{content[i].trainer}
									- }
							.arrow.arrow--up
								span.fa.fa-angle-up(data-dir="u")
								p.nextSlidePreview Jockey
							.arrow.arrow--down
								p.nextSlidePreview Owner
								span.fa.fa-angle-down(data-dir="d")
					- }
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--owner")
							.vAlign
								.contentBlock
									h3 Owner
									- if (content[i].ownerImgBool) {
										img(src="#{datalink}images/owner#{content[i].file}.png")
										p #{content[i].owner}
									- } else {
										.textBlock.textBlock--owner
											p #{content[i].owner}
									- }
							.arrow.arrow--up
								span.fa.fa-angle-up(data-dir="u")
								p.nextSlidePreview Trainer
							.arrow.arrow--down
								p.nextSlidePreview Breeding
								span.fa.fa-angle-down(data-dir="d")
					- }
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--breeding")
							.vAlign
								.contentBlock
									h3 Breeding
									.textBlock.textBlock--breeding
										p Dam: #{content[i].dam}
										.divider
										p Sire: #{content[i].sire}
							.arrow.arrow--up
								span.fa.fa-angle-up(data-dir="u")
								p.nextSlidePreview Owner
							.arrow.arrow--down
								p.nextSlidePreview Earnings
								span.fa.fa-angle-down(data-dir="d")
					- }
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--earnings")
							.vAlign
								.contentBlock
									h3 Earnings
									.textBlock.textBlock--earnings
										p #{content[i].earnings}
							.arrow.arrow--up
								span.fa.fa-angle-up(data-dir="u")
								p.nextSlidePreview Breeding
							.arrow.arrow--down
								p.nextSlidePreview Notes
								span.fa.fa-angle-down(data-dir="d")
					- }
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--notes")
							.vAlign
								.contentBlock
									h3 Notes
									.textBlock.textBlock--notes
										p #{content[i].notes1}
										p #{content[i].notes2}
							.arrow.arrow--up
								span.fa.fa-angle-up(data-dir="u")
								p.nextSlidePreview Earnings
							.arrow.arrow--down
								p.nextSlidePreview Previous Start
								span.fa.fa-angle-down(data-dir="d")
					- }
					- for (var i=0;i<multiple;i++) {
						li(class="cell cell--prevStart")
							.vAlign
								.contentBlock
									h3 Previous Start
									.textBlock.textBlock--prevStart
										p #{content[i].prevStart}
							.arrow.arrow--up
								span.fa.fa-angle-up(data-dir="u")
								p.nextSlidePreview Notes
							.backToTop 
								p Back to top
					- }
		.links.linksSticky
			a(href="http://www.baltimoresun.com/sports/horse-racing/preakness/") SUN COVERAGE
			a(href="http://www.baltimoresun.com/sports/horse-racing/preakness/bal-preakness-2016-infield-map-preakness-guide-20160511-htmlstory.html") MAP
			a(href="http://www.baltimoresun.com/sports/horse-racing/preakness/bal-preakness-picks-20160506-htmlstory.html") BETTING GUIDE
			a(href="http://www.baltimoresun.com/sports/horse-racing/preakness-pictures/") PHOTOS
			a(href="http://www.baltimoresun.com/entertainment/music/midnight-sun-blog/bs-ae-preakness-music-20160518-story.html") INFIELDFEST
		//- #leaderboard
		//- 	include includes/ad-for-body.html		
		//CSS
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
		//Fonts
		link(rel="stylesheet", type="text/css", href="#{datalink}css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")
		//Javascript
		//- script(src="#{datalink}js/min/modernizr.js")
		//- script(src="#{datalink}js/app.js")
		script(src="#{datalink}js/min/jquery-1.10.2.min.js")
		script(src="#{datalink}js/min/app.min.js")
		include includes/omniture.html
		//- include includes/ad-for-header.html
	