//- include 
- var datalink = "http://data.baltimoresun.com/PROJECTLINK/"
- var datalink = ""

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="")

		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//CSS
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
		//Fonts
		link(rel="stylesheet", type="text/css", href="#{datalink}css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="")
		meta(property="og:image", content="")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

	//- body(onload="preaknessContenders.scroll()")
	body
		#tophat
			.group
			#logo
				a(href="http://www.baltimoresun.com")
					img(src="images/baltimore-sun-logo-white.png" border="0")
			.tophat-share-tools
				span.icon-facebook
				span.icon-twitter
		#contenders
			#scroller
				ul
					- for (var i=0;i<72;i++) {
						- if (i<8) {
							li(class="cell cell__name cell__name--#{i}" style="background-image: url('#{datalink}images/#{i}.png');")
								.namePlate
									span.fa.fa-angle-left
									case i
										when 0
											h2 American Pharaoh
										when 1
											h2 Dortmund
										when 2
											h2 Mr. Z
										when 3
											h2 Daniz Moon
										when 4
											h2 Tale of Verve
										when 5
											h2 Bodhisattva
										when 6
											h2 Diving Rod
										when 7
											h2 Firing Line
									span.fa.fa-angle-right
								.detailsPlate
									p Details
									span.fa.fa-angle-down
						- } else if (i < 16) {
							li(class="cell cell__jockey cell__jockey--#{i-8}") jockey #{i}
						- } else if (i < 24) {
							li(class="cell cell__odds cell__odds--#{i-16}") odds #{i}
						- } else if (i < 32) {
							li(class="cell cell__notes cell__notes--#{i-24}") notes #{i}
						- } else if (i < 40) {
							li(class="cell cell__owner cell__owner--#{i-32}") owner #{i}
						- } else if (i < 48) {
							li(class="cell cell__trainer cell__trainer--#{i-40}") trainer #{i}
						- } else if (i < 56) {
							li(class="cell cell__breeder cell__breeder--#{i-48}") breeder #{i}
						- } else if (i < 64) {
							li(class="cell cell__earnings cell__earnings--#{i-56}") earnings #{i}
						- } else if (i < 72) {
							li(class="cell cell__prevstart cell__prevstart--#{i-64}") prevstart #{i}
						- }
					- }

		//- #leaderboard			
		//- 	include includes/ad-for-body.html
		
		//Javascript
		script(src="#{datalink}js/min/jquery-1.10.2.min.js")
		script(src="#{datalink}js/min/modernizr.js")
		script(src="#{datalink}js/app.js")
		//- script(src="#{datalink}js/min/app.min.js")

		//- include includes/omniture.html
		//- include includes/ad-for-header.html
	